html{
    background-color: #aaaacc;
    width: 100%;
}

h1{ color: #000000; }

a{ text-decoration: none; }

#content{
    width: 648px;
    margin: auto;
}

/* MENU */
.menu, .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu{
    background: #fff;
    height: 47px;
    width: 100%;
    position: relative;
    top: 10px;
}

.menu ul > li {
    float: left;
    position: relative;
}

.menu li > a{
    display: block;
    color: #aaaacc;
    padding: 16px;
    width: 130px;
    text-align: center;
    transition: 0.4s;
}

.menu li:hover > a{
    background: #555;
    color: #fff;
}

/* DROPDOWN */
.dropdown{
    display: none;
    position: absolute;
    top: 47px;
    left: 0;
    background: #ccc;
    z-index: 999;
}

.dropdown li a {
    width: 130px;
    padding: 12px;
}

.menu li:hover > .dropdown{
    display: block;
}