
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3c9ddb;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color:  white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial Black";
}

ul li a:hover:not(.active) {
    background-color: #000000;
}

ul li a.active {
    background-color: #04AA6D;
}

div.flex-container {
    display: flex;
    /* Show the flex items horizontally */
    flex-direction: row;
}

div.flex-container > div {
    margin: 10px;
    border : solid 1pt #3c9ddb;
    border-radius: 10px;
    padding: 10px;
    flex: 1;
}
/* Use media query and show the flex items vertically if screen width is less than 600px */
@media screen and (max-width:600px) {
    div.flex-container {
        flex-direction: column;
    }
}
footer {
    background-color: #aaaacc;
    text-align: center;
    padding: 8px;
}
